.profile__info {
    display: grid;
    grid-template-columns:repeat(2,max-content);
    grid-template-rows: repeat(2,minmax(min-content,max-content));
    padding-left: 30px;
    max-width: 336px;
    gap: 16px 18px;
}

@media screen and (max-width: 690px) {
    .profile__info {
        grid-template-columns: 232px 40px;
        grid-template-rows: repeat(2,minmax(min-content,max-content));
        padding: 26px 0 0;
        gap: 10px 10px;
        max-height: 56px;
    }
}