.element__button-delete {
    position: absolute;
    top: 0;
    right: 0; 
    min-width: 18px;
    min-height: 19px;
    border: 0;
    padding: 0;
    margin: 20px 20px 0 auto;
    background-color: transparent;
    cursor: pointer;
    background-image: url("../../../images/trash-icon.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.element__button-delete:hover {
    opacity: 50%;
}