.profile__button-edit {
    justify-self: start;
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    border-radius: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("../../../images/pen_icon.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.profile__button-edit:hover {
    opacity: 60%;
}

@media screen and (max-width: 690px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
    }
}