.popup__button-close {
    position: absolute;
    background: none;
    top: -40px;
    left: 438px;
}

@media screen and (max-width: 880px) {
    .popup__button-close {
        left: 264px;
        top: -27px;
    }
}